body {
  background-color: #b2d0ff;
  overflow: "hidden";
  font-family: 'Dancing Script', cursive;
}

div.background {
  position: fixed;
}

img.background {
  opacity: 100%;
  -moz-transition: opacity 2s; /* Firefox 4 */
  -webkit-transition: opacity 2s; /* Safari and Chrome */
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

@media (max-width: 700px) {
  div.background {
    z-index: -10;
    bottom: 0px;
    right: 0px;
  }

  img.background {
    width: 200px;
    bottom: 0px;
    top: auto;
  }
}

@media (min-width: 700px) {
  div.background {
    z-index: -10;
    top: 0px;
    right: 0px;
  }

  img.background {
    width: 500px;
  }
}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
