body {
  background-color: #b2d0ff;
  overflow: "hidden";
  font-family: 'Dancing Script', cursive;
}

a {
  color: #024b8a;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

.navbar {
  font-family: 'Oswald', sans-serif;
}

.navbar a {
  color: white;
  margin-right: 15px;
  margin-left: 15px;
}

div.background {
  position: fixed;
}

img.background {
  opacity: 100%;
  -moz-transition: opacity 2s; /* Firefox 4 */
  -webkit-transition: opacity 2s; /* Safari and Chrome */
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

@media (max-width: 700px) {
  div.background {
    z-index: -10;
    bottom: 0px;
    right: 0px;
  }

  img.background {
    width: 200px;
    bottom: 0px;
    top: auto;
  }

  img.houses {
    width: 60px;
    height: 50px;
  }

  h1 {
    font-size: 50px;
  }

}

@media (min-width: 700px) {
  div.background {
    z-index: -10;
    top: 0px;
    right: 0px;
  }

  img.background {
    width: 500px;
  }

  img.houses {
    width: 120px;
    height: 100px;
  }

  h1 {
    font-size: 70px;
  }

}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
